#connection{
    margin-top: 15%;
    font-size: 400%;
    margin-bottom: 2%;
}
.form-control{
    text-align: center;
}
#user{
    width: 15%;
    margin-left: 42.6%;
    margin-bottom: 1%;
    border-radius: 10px;
    border: 1px red dashed;
}
#pwd{
    width: 15%;
    margin-left: 42.6%;
    margin-bottom: 1%;
    border-radius: 10px;
    border: 1px red dashed;
}
.button{ 
    width: 50px ;
}
.error{
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px;
    border-radius: 5px;
    margin-left: 35%;
}